
struts2.basic/.classpath

struts2.basic/.project

struts2.basic/.settings/.jsdtscope

*.prefs

*.component

struts2.basic/.settings/org.eclipse.wst.common.project.facet.core.xml

struts2.basic/.settings/org.eclipse.wst.jsdt.ui.superType.container

struts2.basic/.settings/org.eclipse.wst.jsdt.ui.superType.name
